<a href="https://colab.research.google.com/github/theaenache/CS577/blob/main/CS577EnacheHW1Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
#2
#loading into pandas df
import pandas as pd
df = pd.read_csv('Data.csv')
print(df.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [ ]:
#3
print("Missing values per column:", df.isna().sum())

Missing values per column: Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
numeric_cols = ['Age', 'Salary']
imputer = SimpleImputer(strategy='mean')
df[numeric_cols] = imputer.fit_transform(df[numeric_cols])

In [ ]:
print("After mean imputation:", df.head())

After mean imputation:    Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [ ]:
#4
print(df.columns)

Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

In [ ]:
X = df[['Country', 'Age', 'Salary']].copy()
#we one hot encode country, and use drop_first to avoid collinearity
#and redundancy in order to make our regression model effective
X = pd.get_dummies(X, columns=['Country'], drop_first=True)

In [ ]:
print("Encoded features:", X.head())

Encoded features:     Age        Salary  Country_Germany  Country_Spain
0  44.0  72000.000000            False          False
1  27.0  48000.000000            False           True
2  30.0  54000.000000             True          False
3  38.0  61000.000000            False           True
4  40.0  63777.777778             True          False

In [ ]:
#5
y = df['Purchased'].map({'Yes': 1, 'No': 0}).astype(int).values

In [ ]:
print("y preview:", y[:10])

y preview: [0 1 0 0 1 1 0 1 0 1]

In [ ]:
#6, 7
X_train, X_test, y_train, y_test = train_test_split(
    X.values, y, test_size=0.2, shuffle=False
)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8, 4) (2, 4) (8,) (2,)

In [ ]:
#8
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
#df for readability
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [ ]:
print("X_train scaled head:\n", X_train.head())
print("X_test scaled head:\n", X_test.head())

X_train scaled head:
         Age    Salary  Country_Germany  Country_Spain
0  0.991953  1.130898        -0.577350      -0.774597
1 -1.641779 -1.330301        -0.577350       1.290994
2 -1.177003 -0.715001         1.732051      -0.774597
3  0.062401  0.002849        -0.577350       1.290994
4  0.372251  0.287710         1.732051      -0.774597
X_test scaled head:
         Age    Salary  Country_Germany  Country_Spain
0  1.921506  2.258948         1.732051      -0.774597
1 -0.092525  0.618148        -0.577350      -0.774597